*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html{
    font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: white;
    color: black;
    opacity: 0.85;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
    
}
.logo{
    order: 1;
    font-size:45px;
    font-style: italic;
    color: darkblue;
    text-shadow: 3px 3px 4px darkgray;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: black;
    text-decoration: none;
    font-weight: 1000;
    font-size: 30px;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color:red
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        color:black;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}
.conts{
    position:absolute;
    top: 125px;
    left: 150px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: italic;
} 
.conts2{
    background-color: rgb(221, 223, 225);
    position:absolute;
    top: 100px;
    left: 0px;
    width:100%;
    height: 100px;
}
img{width: 350px;
    height: 200px;
    border-radius: 5px;
}
h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
hr{background-color: cornflowerblue;
    width:150px;
    height: 3px;
    border-color:  cornflowerblue;
}
.cont1,.cont10{position: absolute;
top:250px;
left:300px;
text-align: center;}
.cont2,.cont8,.cont11{position: absolute;
top:250px;
left:700px;
text-align: center;}
.cont3,.cont9,.cont12{
position: absolute;
top:250px;
left:1100px;
text-align: center; } 
.cont4{position: absolute;
top:500px;
left:300px;
text-align: center;}
.cont5{position: absolute;
top:500px;
left:700px;
text-align: center;}
.cont6{position: absolute;
top:500px;
left:1100px;
text-align: center;}
.cont7{position: absolute;
top:750px;
left:300px;
text-align: center;}
.cont8,.cont9{
top: 750px;
}
.cont11,.cont10,.cont12{
top: 1000px;
}
#uzun{position: absolute;
top:1200px;
color:white;
}
a:visited{color:black;}
a{text-decoration: none;}

#inpt{
    position: absolute;
    top: 250px;
    left:70px;
    width: 150px;
    height: 20px;
    text-align: center;
    border:solid;
    border-radius: 7px;
    border-color: brown;
}
#comp{
    position: absolute;
    top: 290px;
    left:70px;
    font-size: 25px;
    font-style: italic;
    color: brown;
}
button{ position: relative;
    top:300px;
    left:70px;
    background: transparent;
    border: transparent;
font-size: 20px;
font-style: italic;}

#price{
    position: absolute;
    top: 450px;
    left:70px;
    font-size: 25px;
    font-style: italic;
color: brown;}

#xc{
    background: transparent;
    border: transparent;
    font-size: 30px;
    position: absolute;
    top: 15px;
    left: 1400px;
}
